*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    position: fixed;
    z-index: 50;
    width: 100%;
}

#sony-logo{
    background-color: black;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    /* height: 50px; */
}

.btn-accedi{
    background-color: black;
    color: white;
    padding: 15px;
    border-radius: 20px;
}

#lens{
    width: 50px;
    margin-bottom: 15px;
}

.logo{
    width: 50px;
    margin: 15px 30px;
}

.sfondo{
    background-color: white;
}

/* main  */
main{
    padding-top: 118px;
}

#returnal{
    object-fit: cover;
    width: 100%;
}

/* immagini al 100% */
img{
    width: 100%;
    margin-top: 20px;
}

.bordo-rotondo{
    border-radius: 10px;
    border: 2px solid blue;
    padding: 3px;
}

.bordo{
    border-radius: 10px;
}   

