*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    position: fixed;
    z-index: 50;
    width: 100%;
}

#sony-logo{
    background-color: black;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    /* height: 50px; */
}

.btn-accedi{
    background-color: black;
    color: white;
    padding: 15px;
    border-radius: 20px;
}

#lens{
    width: 50px;
    margin-bottom: 15px;
}

.logo{
    width: 50px;
    margin: 15px 30px;
}

.sfondo{
    background-color: white;
}

/* main  */
main{
    padding-top: 118px;
}

/* returnal */
#returnal{
    margin-bottom: 20px;
    width: 100vw;
    background-image: url("../img/jumbo-bg.png");
    width: 100%;
    height: 72vh;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 300px;
}

.container_{
    /* debug */
    /* background-color: red; */
    /* height: 50px; */
    width: 75%;
    margin-left: 20%;
    color: white;
}

.sottotitolo{
    margin: 20px;
}

.acquista{
    background-color: orangered;
    padding: 8px;
    border-radius: 12px;
}

.logo-returnal{
    width: 400px;
}

.acquista a{
    text-decoration: none;
    color: white;
}
/* .copertina{
    object-fit: cover;
    width: 100%;
} */




/* immagini al 100% */
img{
    width: 100%;
    /* margin-top: 20px; */
}

.bordo-rotondo{
    border-radius: 10px;
    border: 2px solid blue;
    padding: 3px;
}

.bordo{
    border-radius: 10px;
}   

.bordo-sopra{
    margin-top: 20px;
}

/* section playnolimits */
#play-nolimits{
    margin-top: 40px;
}

.limits{
    text-align: center;
    margin-bottom: 30px;
}

.console-playstation{
    display: flex;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    /* margin-top: 35px; */
}

.spazio-sotto{
    margin-bottom: 20px;
}

.btn-blue{
    background-color: rgb(0, 0, 255);
    color: white;
    padding: 10px;
    margin-top: 20px;
    border-radius: 20px;
}

.bordo-sotto{
    border-bottom: 2px solid blue;
    padding-bottom: 120px;
}

.margin{
    text-align: center;
    font-size: 20px;
    width: 80%;
}

.spazio{
    display: flex;
    justify-content: space-around;
}

.accapo{
    display: flex;
    flex-wrap: wrap;
}

/* it takes two */
#it-takes-two{
    margin-top: 30px;
}


/* nuove uscite */
#nuove-uscite{
    background-color: rgb(34, 32, 32);
    /* height: 500px; */
    text-align: left;
    color: white;
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
}

.titolo{
    font-size: 25px;
}

/* esplora play 5 */
#esplora{
    margin-top: 25px;
    margin-bottom: 30px;
}

/* psplus */
#ps-plus{
    background-color: gray;
    /* height: 500px; */
    /* margin-bottom: 50px; */
    /* padding-bottom: 15px; */
}

.play-plus{
    text-align: left;
    margin-top: 28%;
    padding-bottom: 10px;
}

.logo-ps-plus{
    width: 50%;
}

.btn-gray{
    background-color: rgba(228, 218, 206, 0.815);
    padding: 7px;
    border-radius: 20px;
}

/* nuovi sconti */
#nuovi-sconti{
    margin: 25px 0;
}

/* ps now */
#ps-now{
    background-color: rgb(20, 20, 165);
    padding-bottom: 25px;
}

.play-now{
    color: white;
    margin-top: 28%;
}



/* social */
#social{
    margin-top: 50px;
    padding-bottom: 50px;
}

/* footer */
footer{
    background-color: blue;
    /* height: 800px; */
    color: white;
}

.logo-mondo{
    width: 20px;
    margin: 15px 30px;
    margin-right: 15px;
}

#paese{
    font-size: 10px;
}

.lista-footer{
    margin-top: 10px;
}

.lista-footer li{
    list-style-type: none;
}

.lista-footer li a {
    text-decoration: none;
    color: white;
}

.logo-sonyps{
    width: 100px;
    margin: 15px 30px;
}

/* media query */
@media screen and (max-width: 768px){
    .sparisce{
        display: none;
    }

    .play-now{
        margin-top: 5%;
    }

    .play-plus{
        margin-top: 5%;
    }

    .bordo-sotto{
        padding-bottom: 5px;
    }

}